<footer class="w-4/5 mx-auto mt-12 text-xs font-light text-justify lg-1000:w-90 md:bg-cyan md:flex-m sm:flex-sm">
    <div class="flex flex-wrap -mx-3">
        <div class="w-full sm:w-1/2 px-3 mb-3 md:w-1/4">
            <p class="font-bold pb-4">Dirección:</p>
            <p>Calle de las Raquetas, 123
                <br>
                Ciudad Barcelona
                <br>
                País España
            </p>
        </div>
        <div class="w-full sm:w-1/2 px-3 mb-3 md:w-1/4">
            <p class="font-bold pb-4">Teléfono:</p>
            <p>+34 123456789</p>
        </div>
        <div class="w-full sm:w-1/2 px-3 mb-3 md:w-1/4">
            <p class="font-bold pb-4">Email:</p>
            <p><a href="mailto:info@tennisclub.com" class="underline text-link-color hover:text-hover-color">info@tennisclub.com</a></p>
        </div>
        <div class="w-full sm:w-1/2 px-3 mb-3 md:w-1/4">
            <p class="font-bold pb-4">Atribuciones:</p>
            <p>Todas las imágenes pertenecen a <a href="https://www.freepik.es/" class="underline text-link-color hover:text-hover-color">Freepik</a></p>
        </div>
        <div class="w-full text-center px-3 my-4">
            <p>&copy; Universitat Oberta de Catalunya <i class="fas fa-university"></i> Maria Liang.</p>
        </div>
    </div>
</footer>