<nav class="w-full">
    <div class="w-full flex justify-between items-center">
        <a class="flex items-center p-3 block" href="/src/index.html">
            <img src="/src/assets/images/logo-m.png" alt="logo" width="50" class="">
        </a>
        <div class="flex items-center pr-3.5">
            <a class="text-nav-color hover:text-logo-orange px-2.5 no-underline block" href="/src/participantes.html">Participantes</a>
            <a class="text-nav-color hover:text-logo-orange px-2.5 no-underline block" href="/src/contacto.html">Contacto</a>
        </div>
    </div>
</nav>
